.crudIcon{
    border: 0;
    width: 10%;
    cursor: pointer;
    background-color: white;
}

.errorMessage{
    margin: .5em;
    color: red;
    font-size: 1.2em;
}

.addButton{
    position: absolute;
    right: 5rem;
    top: 1rem;
    background-color: transparent;
    border: 0px;
}

.puntoRojoLogin{
    position: absolute;
    right: 186px;
    top: 59px;
}

.cursor{
    cursor: pointer;
}

.cerrarSesionBn{
    background-color: '#E02464'; 
    width: '25%'
}

.imgStyle{
    margin: 'auto';
    display: 'block';
    max-width: '100%';
    max-height: '100%';
}