.crudIcon{
    border: 0;
    width: 10%;
    cursor: pointer;
}

.errorMessage{
    margin: .5em;
    color: red;
    font-size: 1.2em;
}

.addButton{
    position: absolute;
    right: 5rem;
    top: 1rem;
    background-color: transparent;
    border: 0px;
}